<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>
<body>
    <li><a href="/">Inicio</a></li>
    <li><a href="/babbage">Charles Babbage</a></li>
    <li><a href="/Berners-Lee">Tim Berners-Lee</a></li>
    <li><a href="/EdithClarke">Edith Clarke</a></li>
    <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>
    <h1>Tim Berners-Lee</h1>
    <img src="/img/TimBerners-Lee.jpg" alt="Tim Berners-Lee">
    <p>Berners-Lee es el director del World Wide Web Consortium (W3C), que supervisa el desarrollo continuo de la Web. Co-fundó (con su futura esposa Rosemary Leith ) la World Wide Web Foundation . Es investigador senior y titular de la cátedra de fundador de 3Com en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial del MIT (CSAIL). Es director de la Iniciativa de Investigación en Ciencias Web (WSRI) y miembro del consejo asesor del Centro de Inteligencia Colectiva del MIT. En 2011, fue nombrado miembro del consejo de administración de laFundación Ford. Es fundador y presidente del Open Data Institute y actualmente es asesor de la red social MeWe.
        En 2004, Berners-Lee fue nombrado caballero por la reina Isabel II por su trabajo pionero. 
        En 2007, fue elegido miembro de la Academia Nacional de Ingeniería por ser el principal responsable de la invención de la World Wide Web. Él diseñó e implementó el primer navegador web y servidor web y ayudó a fomentar el desarrollo explosivo posterior de la web. Actualmente dirige el Consorcio W3, desarrollando herramientas y estándares para promover el potencial de la Web. En abril de 2009, fue elegido Asociado Extranjero de la Academia Nacional de Ciencias
    <p>
</body>
</html>