<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edith Clarke</title>
</head>
<body>
    <li><a href="/">Inicio</a></li>
    <li><a href="/babbage">Charles Babbage</a></li>
    <li><a href="/Berners-Lee">Tim Berners-Lee</a></li>
    <li><a href="/EdithClarke">Edith Clarke</a></li>
    <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>
    <h1>Edith Clarke</h1>
    <img src="/img/EdithClarke.jpg" alt="Edith Clarke">
    <p>Edith Clarke, una de nueve hijos, nació el 10 de febrero de 1883 en el condado de Howard , Maryland. Después de quedar huérfana a los 12 años, fue criada por una hermana mayor. Usó su herencia para estudiar matemáticas y astronomía en Vassar College , donde se graduó en 1908. [6]
        Después de la universidad, Clarke enseñó matemáticas y física en una escuela privada en San Francisco y en Marshall College . Luego pasó algún tiempo estudiando ingeniería civil en la Universidad de Wisconsin-Madison , pero la dejó para convertirse en una " computadora " en AT&T en 1912. En 1918, Clarke se inscribió en el Instituto de Tecnología de Massachusetts y al año siguiente se convirtió en la primera mujer en obtener una maestría en ingeniería eléctrica del MIT. Su tesis en el MIT fue supervisada por Arthur E. Kennelly y se tituló "Comportamiento de una línea de transmisión artificial abultada cuando la frecuencia aumenta indefinidamente". 
        Clarke se fue a trabajar para General Electric como supervisor de computadoras en el Departamento de Ingeniería de Turbinas . Durante este tiempo, inventó la calculadora Clarke, una de las primeras calculadoras gráficas , este simple dispositivo gráfico resolvió ecuaciones que involucran corriente eléctrica , voltaje e impedancia en líneas de transmisión de energía . El dispositivo podría resolver ecuaciones de línea que implican funciones hiperbólicas diez veces más rápido que los métodos anteriores. Presentó una patente para la calculadora en 1921 y le fue concedida en 1925.
    <p>
</body>
</html>